<!DOCTYPE html>
<html>
<head>
  <title>Pizza Order Form</title>
</head>
<body>
  <p>Please select one to order:</p>
  <img src="pizza_1.jpg" alt="Green Pizza" style="width:304px;height:228px;">
  <img src="pizza_2.jpg" alt="BBQ Chicken Pizza" style="width:304px;height:228px;">
  <img src="pizza_3.png" alt="Pug with Pizza" style="width:304px;height:228px;">
  
  <div>
    <button type="submit">Pizza 1</button>
    <button type="submit">Pizza 2</button>
    <button type="submit">Pizza 3</button>
  </div>

</body>
</html>

